@import "../../vars.css";
/* @import url(); */


.container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  height: 590px;
 
}

.content {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items:center;
  align-content: center;
  justify-content: space-between;
  font-size: 85px;
  font-weight: 700;
  color: var(--color-text);
  z-index: 1;
  
  margin-top: 60px;
}

.contImage {
  width: 100%;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  width: 85%;
  font-size: 30px;
  font-weight: 200;
  font-family: var(--font-roboto);
text-align: center;

  border-radius: 10px;
  
}

.group {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 
}

.contactBtn {
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;
}

.contactBtn:hover {
  transform: translateY(-5px);
}

.githubBtn {
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
}

.githubBtn:hover {
  transform: translateY(-5px);
}


.linkedinBtn {
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
}

.linkedinBtn:hover {
  transform: translateY(-5px);
}

.heroImg {
  /* position: relative; */
  /* margin-right: 10%; */
  width: 450px;
  z-index: 1;
  border-radius: 60%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.box{
  display: flex;
  flex-direction: column;
  height: 300px;
}

.connect{
  font-size: 15px;
}

.title {
  font-weight: 00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;
  color: blue;
}


@keyframes blink {
  50% {
    border-color: transparent
  }

}



@keyframes floating {
  0% {
    transform: translate(0, 0px)
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@media only screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    justify-content: normal;
    align-items: center;

    box-sizing: border-box;
    height: auto;
  }

  .content {
    font-size: 55px;
    font-weight: 700;
    /* margin-left: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    padding: 25px;
    box-sizing: border-box;
    margin: auto;
  }

  .contImage{
    margin: auto;
  }

  .description {
    margin-top: 10px;
  }

  .heroImg {
    width: 300px;
  }

  .box{
    height: 200px;
  }
  

  .description {
    font-size: 18px;
    font-weight: 400;
  }

  .contImage {
    justify-content: space-around;
    height: 400px;
  }

   .contactBtn{
    width:35px
  }
  .githubBtn{
    width: 28px;
  }
  .linkedinBtn{
width:30px
  }
  .connect{
    font-size: 12px;
  }
  

}