@import "../../vars.css";
/* @import url(); */

.container{
  width: 100%;
  background-image: url('../../assets/fondo.jpg');
  background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 29px; */
    z-index: 1;
    /* height: 600px; */
    height: 590px; 
}

.content {

width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.contImage{
  width: 100%;
  /* margin-bottom: 40px; */
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

  .title{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        rgba(255,255,255,1) 70%,
        rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-roboto);
     
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 0) 120%
    );
     /* Ajusta el relleno según tus necesidades */
    background-clip: text; /* Aplicar el degradado al texto */
    -webkit-background-clip: text; /* Para navegadores webkit como Safari */
    color: transparent; 
  }

  .contactBtn{
    display: flex;
    width: 45%;
    height: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    /* padding: 17px 26px; */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 3px yellowgreen;
  }


  
  .heroImg {
    /* position: relative; */
    /* margin-right: 10%; */
    width: 450px;
    z-index: 1;
    border-radius: 60%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  
  }
  
  



@keyframes floating {
    0%{
        transform: translate(0, 0px)
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -0px);
    }
}

.topBlur{
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
    
}

@media only screen and (max-width: 830px) {
  .container {
   flex-direction: column;
   justify-content: normal;
   align-items: center;
  
   
   height: 900px;

    /* Otros estilos específicos para móviles */
  }
  .content{
    /* margin-left: 5%; */
    display:flex;
   padding: 30px;
   box-sizing: border-box;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
  }
  .title{
    flex-direction: column;
    
    
    justify-content: center;
    font-size: 62px;
  }

  .heroImg{
    width: 400px;
  }
  
  
}


