@import "../../vars.css";
.section{
    margin: 0 auto;
    background-color: var(--color-secondary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
}