.container {
    width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.title{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
   /* height: auto; */
    height: 120px;
    align-items: center ;
    font-size: 90px;
    justify-content:flex-start;
    
}

.box{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}


.duo{
   width: 100%;
   height: auto;
   
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    
}

.alien{    
    width: 200px;
    margin-left: 10%;
    height: 150px;
}


@keyframes show{
    from {
        opacity: 0 ;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

.title {
    view-timeline-name: --title;
    view-timeline-axis: block;

    animation-timeline: --title;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}



@media only screen and (max-width: 830px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        font-size: 80px;
        height: 150px;
        }
        .strong{
            font-family: var(--font-roboto);
            font-size: 12px;
            font-weight: 300;
        }
        .box{
            grid-template-columns: 1fr;
        }

        .subt{
            width: 90%;
            font-family: var(--font-roboto);
                    font-size: 18px;
                    font-weight: 300;
                    align-items: center;
    align-content: center;
    text-align: justify;
        }
        .group {
            width: 80vw;
            height: 30vh;
            display: flex;
            align-items: center;
            align-content: center;
        }

        .alien{
            width: 80px;
            height: 50px;
            
        }

    
    }

    
  