.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    border-top: solid 1px white;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 300px;
}

.group {
    width: auto;
    height: auto;
margin:30px;
padding: 30px;
    gap:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
  }
  
  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .contactBtn {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
  }
  
  .contactBtn:hover {
    transform: translateY(-5px);
  }
  
  .githubBtn {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
  }
  
  .githubBtn:hover {
    transform: translateY(-5px);
  }
  
  
  .linkedinBtn {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
  }
  
  .linkedinBtn:hover {
    transform: translateY(-5px);
  }
  @media only screen and (max-width: 830px) {

.footer{
    width:  30%;
    height: auto;
}

.group{
    
   font-size: 12px;
   font-weight: 100;
padding: 10px;
    margin: 0;
    
}
a{
    font-size: 10px;
}

.contactBtn {
    width: 25px;
}
.linkedinBtn{
    width: 25px;
}
.githubBtn{
    width: 25px;
}
  }