@import "./vars.css";


.App {
    width: 100%;
    min-height: 100vh; /* Cambiado a min-height para permitir expansión */
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    scroll-behavior: smooth; /* Scroll suave */
    overflow: auto; /* Asegura que se pueda hacer scroll si es necesario */
}


