@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  
  
}




html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ajustamos al 100% del contenedor padre */
  overflow: hidden; /* Elimina el scroll en el HTML */
}

body { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  
}
.slick-slide>div {
  margin: 0 10px;


}