* {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}





body {
  margin: 0;
  display: flex;
flex-direction: column;
  width: 100%;
  height: 100vh;
  


}

.slick-slide>div {
  margin: 0 10px;


}