* {
color:white;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}




html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ajustamos al 100% del contenedor padre */
  overflow: hidden; /* Elimina el scroll en el HTML */
}

body { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Usa 100% en lugar de 100vh */
  overflow: hidden; /* Evita scroll innecesario en el body */
  /* Si necesitas un fondo aquí, lo puedes agregar, pero no 100vh */
}
.slick-slide>div {
  margin: 0 10px;


}