.slick-slide {
    padding: 0 20px; 
    box-sizing: border-box; 
}
.slider{
    box-sizing: border-box;
    padding: 20px;
    
    width: 80%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.group{
    padding: 20px;
    backdrop-filter: blur(2px); 
    height: 200px;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align:justify;
    border-radius: 9px;
    border: solid 1px yellowgreen;
    
    box-shadow: 5px 2px 10px rgba(154, 205, 50, 0.3);
}

.strong {
    height: auto;
    font-size: 18px;
    font-family: var(--font-roboto);
    font-weight: 300;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}



@media only screen and (max-width: 830px) {
        .strong{
            
            font-size: 12px;
            font-weight: 300;
        }
        
        .group {
            width: 80vw;
            height: 200px;
            display: flex;
            align-items: center;
            align-content: center;
        }

        
       
    
    }
    